{% extends 'core/index.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./imagenes/Simbolo-transparente.png" />
    <link rel="stylesheet" href="./css/style.css">
    <title>Iniciar Sesion</title>
</head>
<body>
    <header>
        <nav>
            <ul class="menu">
                <li><a href="#">Hombres</a></li>
                <li><a href="#">Mujeres</a></li>                        
                <li><a href="#">Zapatos</a></li>
                <li><a href="#">Ofertas</a></li>
            </ul>
            <div class="logo-izquierda">
                <img src="./imagenes/Logo.png" alt="Logo">
            </div>
            <div>
                <ul class="menu">
                    <a href="#" class="logo-izquierda"><img src="./imagenes/Carrito_de_compras-removebg-preview.png" alt=""></a>
                    <li><a href="#">Iniciar Sesion</a></li>
                    <li><a href="#">Registrarse</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="inicio-sesion">
            <form action=""></form>
        </section>
    </main>
    <footer>
        <section class="izquierda">
            <ul>
                <li><a href="#">Acerca de nosotros</a></li>
                <li><a href="#">Contactanos</a></li>
                <li><a href="#">Servicio al cliente</a></li>
                <li><a href="#">Todos los derechos estan reservados</a></li>
            </ul>
        </section>
        <section class="derecha">
            <img src="./imagenes/Simbolo-transparente.png" alt="Logo de Glamoure">
        </section>
    </footer>
</body>
</html>